.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContent {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin: -2.4rem auto;
  width: 73.6rem;
}

.inputContent input {
  all: unset;
  padding: 1.6rem;
  width: 60.6rem;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border-radius: 8px;
}

input:focus-within {
  color: var(--gray-100);
}

.inputContent button {
  all: unset;
  padding: 1.6rem;
  text-align: center;
  display: flex;
  gap: 0.8rem;
  background-color: var(--blue-dark);
  cursor: pointer;
  font-weight: bold;
  color: var(--gray-100);
  border-radius: 8px;
  font-size: 1.4rem;
  transition: 0.5s;
}

.inputContent button:hover {
  background-color: #498db8;
}
@media (max-width: 768px) {
  .inputContent {
    justify-content: space-around;
  }

  .inputContent input {
    width: 100%;
  }
}
